@model IEnumerable<AppointmentVM>
@inject IShiftService ShiftService;


@{
    ViewData["Title"] = "TodaysAppointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="custom-heading">Today's Appointments</h1>

<table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Patient</th>
            <th>Appointment Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Status</th>
           
   
        </tr>
    </thead>
    <tbody>
        @foreach (var appointment in Model)
        {
            <tr>
                <td>@appointment.PatientName</td>
                <td>@appointment.AppointmentDate.ToString("yyyy-MM-dd")</td>
                <td>@appointment.StartTime.ToString("HH:mm ")</td>
                <td>@appointment.EndTime.ToString("HH:mm ")</td>
                <td>@appointment.Status</td>
            </tr>
        }
    </tbody>
    <a asp-controller="Doctor" asp-action="AppointmentsByDateRange" asp-route-id="@ViewBag.DoctorId" class="btn btn-outline-warning ">
        Filter By Time
    </a>
</table>
